<p-treeTable [value]="treeNodes" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"
                ttResizableColumn>
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td *ngFor="let col of cols; let i = index" pTooltip={{rowData.meta.description}} 
                tooltipPosition="top">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                <span *ngIf="i !== 0" class="ui-grid ui-grid-responsive ui-fluid"
                    [ngClass] = "['modification_' + rowData.property.modification]">                
                    <div class="ui-grid-row">                   
                        <span [ngSwitch]="rowData.meta.componentType" class="ui-grid-col-12">
                            <p-checkbox 
                                *ngSwitchCase="'boolean'"
                                [(ngModel)]="rowData.value" binary="true"
                                (onChange)="onVarValueChanged(rowData)">
                            </p-checkbox>
                            <input *ngSwitchCase="'string'"
                                type="text" class="component" pInputText value="rowData.value" 
                                [(ngModel)]="rowData.value" (input)="onVarValueChanged(rowData)">
                            <p-spinner *ngSwitchCase="'number'"
                                [(ngModel)]="rowData.value" 
                                [min]="rowData.meta.min" [max]="rowData.meta.max">
                            </p-spinner>
                            <p-dropdown
                                *ngSwitchCase="'select'"
                                (onChange)="onDropdownValuesChange(rowData)" 
                                [(ngModel)]="rowData.selectedOptions" 
                                [options]="rowData.meta.options" 
                                placeholder="Choose"
                                optionLabel="name"
                            >
                            </p-dropdown>
                            <p-multiSelect
                                *ngSwitchCase="'multiselect'"
                                (onChange)="onMultiSelectValuesChange(rowData)" 
                                [options]="rowData.meta.options"       
                                optionLabel="name"    
                                [(ngModel)]="rowData.selectedOptions"
                                [filter] = "rowData.meta.showFilter"
                                [showToggleAll] = "false"
                                [showHeader] = "false"
                            >
                                <ng-template let-selectedItems pTemplate="selectedItems">
                                    <span *ngFor="let item of selectedItems">{{item.name}}</span>
                                </ng-template>
                                <ng-template let-item let-i="index" pTemplate="item">
                                    <!-- {{log(item)}} -->
                                    <div style="font-size:14px;float:right;margin-top:4px">{{item.value.name}}</div>
                                </ng-template>                            
                            </p-multiSelect>
                            <p-tree
                                *ngSwitchCase="'tree'"
                                [value]="rowData.meta.options" 
                                [(selection)]="rowData.selectedOptions"
                                selectionMode="checkbox"
                                [style]="{width: '100%'}"
                                (onNodeSelect)="onMultiSelectValuesChange(rowData)"
                            >
                            </p-tree>
                            <angular2-multiselect 
                                *ngSwitchCase="'multiselect-cupalabs'"
                                [data]="rowData.meta.options" 
                                [(ngModel)]="rowData.selectedOptions" 
                                [settings]="rowData.meta.settings" 
                            >
                                <!-- <c-item>
                                    <ng-template let-item="item">
                                        {{item.id + item.name}}
                                    </ng-template>
                                </c-item>                                    -->
                            </angular2-multiselect>                            
                        </span>
                        <span *ngFor="let overided of rowData.overidedBy">
                            <span matBadge={{overided}} 
                                matBadgePosition="before" matBadgeColor="accent" MatBadgeSize="small">
                            </span>
                        </span>
                    </div>
                </span>
                <span *ngIf="i == 0">
                    <span>
                        {{rowData.name}}
                    </span>
                </span>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
