<link id="theme" rel="stylesheet" [href]="themeUrl" >
<p-menubar [model]="menuItems">
    <p-button 
        id="saveChanges" icon="fa fa-fw fa-save" label="Save" (onClick)="saveChanges()"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent"
    ></p-button>
    <!-- <p-button icon="fa fa-fw fa-list" (click)="menu.toggle($event)"></p-button> -->
</p-menubar>
<!-- <p-menu #menu [popup]="true" [model]="menuItems"></p-menu> -->
<!-- <p-toast position="top-left" style='width:300px'></p-toast> -->
<p-messages ></p-messages>

<!-- <div>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <input #gb type="text" pInputText size="25" placeholder="Search" (keyup)="tree.search($event)">
            <app-environ-chooser #environChooser></app-environ-chooser>
            <p-button icon="fa fa-fw fa-refresh" (onClick)="tree.refresh($event)"></p-button>
        </div>

        <div class="ui-toolbar-group-right">
            <p-button 
                id="saveChanges" icon="fa fa-fw fa-save" label="Save" (onClick)="saveChanges()"
                matBadge="8" matBadgePosition="before" matBadgeColor="accent"
            ></p-button>
            <p-button icon="fa fa-fw fa-list" (click)="menu.toggle($event)"></p-button>
        </div>
    </p-toolbar>
</div> -->

<!-- <div class="ui-g" *ngIf="show=='properties-userbased'">
    <div class="ui-g">
        <div class="ui-g-4">
            <app-users #users></app-users>
            <app-properties #properties 
                [mode]="'userbased'"
                [propertiesEditor]="propertiesEditor"></app-properties>
        </div>
        <div class="ui-g-8">
            <app-properties-editor #propertiesEditor></app-properties-editor>
        </div>
    </div>
</div> -->
<div class="ui-g" *ngIf="show=='properties'">
    <div class="ui-g">
        <div class="ui-g-4">
         
            <app-properties #properties 
                [mode]="'propbased'"
                [propertiesEditor]="propertiesEditor"></app-properties>
        </div>
        <div class="ui-g-8">
            <app-properties-editor #propertiesEditor></app-properties-editor>
        </div>
    </div>
</div>
<div class="ui-g" *ngIf="show=='history'">
    <app-history></app-history>
</div>
<!-- @TODO make a template here to combine rulebased and userbased -->
<div class="ui-g" *ngIf="show=='properties-userbased'">
    <div class="ui-g-3">
        <span>
            <span class="ui-float-label">
                User
            </span>
            <span>
                <app-users #users></app-users>
            </span>
        </span>
        <div style="margin-bottom: 10px"></div>
        <label>Rules</label>
        <app-rules #rules
        >
        </app-rules>

    </div>
    <div class="ui-g-9">
        <p-tabView>
            <p-tabPanel header="Queries" >
                <ng-template pTemplate="content">
                    <app-conditions #conditions></app-conditions>    
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Properties" [selected]="true">
                <ng-template pTemplate="content">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label>Groups</label>
                            <app-groups #groups ></app-groups>                
                            <app-properties #properties 
                                [mode]="'userbased'"
                                [propertiesEditor]="propertiesEditor"
                                ></app-properties>
                        </div>
                        <div class="ui-g-8">
                            <app-properties-editor #propertiesEditor></app-properties-editor>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<div class="ui-g" *ngIf="show=='properties-rulebased'">
    <div class="ui-g-3">
        <div style="margin-bottom: 10px"></div>
        <label>Rules</label>
        <app-rules #rules
        >
        </app-rules>

    </div>
    <div class="ui-g-9">
        <p-tabView>
            <p-tabPanel header="Queries" >
                <ng-template pTemplate="content">
                    <app-conditions #conditions></app-conditions>    
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Properties" [selected]="true">
                <ng-template pTemplate="content">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label>Groups</label>
                            <app-groups #groups ></app-groups>                
                            <app-properties #properties 
                                [mode]="'rulebased'"
                                [propertiesEditor]="propertiesEditor"
                                ></app-properties>
                        </div>
                        <div class="ui-g-8">
                            <app-properties-editor #propertiesEditor></app-properties-editor>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>


<!--<app-filters #filters [app]="this"></app-filters>-->


