.modification_0 {
    background-color: rgb(240, 236, 236) !important
}

.modification_1 {
    background-color: white !important;
}

.modification_2 {
    background-color:lightcyan !important
}

.modification_3 {
    background-color:lightcoral !important
}

.modification_4 {
    background-color:lightgreen !important
}

/* @TODO used for cell 0 where the toggler and text should be shown in one line
    and editable div should extend to cell width */
.tree-cell {
    color:blueviolet;
    display: flex;
    vertical-align: middle;
    // border: 0px solid gray;
    height: 100%;
}

.tree-toggler {
    height:100%;
}
.tree-key .noborder {
    border:0px !important
}
.tree-key {
    height:100%;
    width: 100%;
    vertical-align: top;
    white-space: nowrap !important;
    overflow: hidden;
}
